.content-box {
    $borderSize: 2px;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 30px 9%;
    // padding-top: 30px;
    // padding-right: 15%;
    // padding-bottom: 30px;
    // padding-left: 15%;
    max-width: 900px;
    border: $borderSize solid $secondaryColor;
    border-top: none;
    &--white{// моди, для того что бы в блоке цыет был белый
      border-color: $primaryColor;
            }
    &__title {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        color: $secondaryColor;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 34px;
        font-family: $primaryFont;
        transform: translateY(-50%);
      &--white{
        color: $primaryColor;
              }
        &:after,
        &:before {
            position: absolute;
            top: 50%;
            width: 20%;
            height: $borderSize;
            background-color: $secondaryColor;
            content: '';
            transform: translateY(-50%);
                  }
        &:before {
            left: -($borderSize);
                }

        &:after {
            right: -($borderSize);
                }
      &--white{
        &:after,
        &:before {
          background-color: $primaryColor;
                }
              }
    }
  &__with-icon{
    margin-top: 70px;
    margin-bottom: 30px;

    &--first  {
      padding-top: 20px;
    }
  }
    &__subtitle{
      color: $secondaryColor;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 20px;
      font-family: $primaryFont;
    }
  &__icon{
    display: block;
    text-align: center;
  }
    &__text {
        color: $secondaryColor;
        text-align: center;
        font-size: 16px;
        font-family: $primaryFont;
        line-height: 24px; //межстрочный интервал


      &--white{
        color: $primaryColor;
      }
    }

    //Положение элемента устанавливается относительно его исходного места.//Свойства width и height включают в себя значения полей и границ, но не отступов (margin).// выравнивание по цертру//убирает линию
  &__button{
    text-align: center;
    padding-top: 20px;
              }
    &__what_we_do {
        & > img {
            box-sizing: border-box;
            display: block;
            margin: 70px auto 40px auto;
        }


    }
}
