.about {
  display: flex;//резировый
  align-items: center;//задает выравнивание элементов вдоль поперечной оси.
  justify-content: center;//определяет, как браузер распределяет пространство между и вокруг элементов контента вдоль главной оси их контейнера.
  padding-top: 150px;
  padding-bottom: 150px;
}
