//Service
.service {
   background-image: url('../img/service__bg.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
}
.service > .content-box__title {
    color: #595e79;
}
